In [70]:
import numpy as np
import pandas as pd

df = pd.read_csv('input4.csv')
df

   Unnamed: 0  0    1
0           0  1  1.0
1           1  0  1.5

In [71]:
# выбрасываем лишнюю колонку 'Unnamed: 0'
df.drop('Unnamed: 0', axis=1, inplace=True)
df

   0    1
0  1  1.0
1  0  1.5

In [72]:
# считаем корреляции
corr = df.corr()
corr

     0    1
0  1.0 -1.0
1 -1.0  1.0

In [73]:
corr['0'][0] = 0.1
corr['0'][1] = 0.2
corr['1'][0] = 0.3
corr['1'][1] = 0.4
corr

     0    1
0  0.1  0.3
1  0.2  0.4

In [74]:
# ищем максимальные по столбцам по абс. значениям
corr = corr.round(2).abs().max(axis=0)
print(corr.tolist())

[0.2, 0.4]